<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
<aside id="colorlib-aside" role="complementary" class="js-fullheight img"
  style="background-image: url(/images/sidebar-bg.jpg);">
  <h1 id="colorlib-logo" class="mb-4"><a href="/">Just Me</a></h1>
  <nav id="colorlib-main-menu" role="navigation">
    <ul>
      <li <% if(locals.active && active === 'index') { %>class="colorlib-active"><% } %> ><a href="/">Home</a></li>

      <li class="text-white" style="cursor: default;">Blog</li>
      <div class="ml-4">
        <% for(let i = 0; i < categoricalData.length; i++) { %>
        <li <% if(locals.active && active === categoricalData[i].category) { %>class="colorlib-active"><% } %>>
          <a href="/filter?category=<%= categoricalData[i].category %>"
            class="text-capitalize"><%= categoricalData[i].category %> </a>
        </li>
        <% } %>
      </div>

      <li <% if(locals.active && active === 'about') { %>class="colorlib-active"><% } %> ><a href="/about">About</a>
      </li>
      <li <% if(locals.active && active === 'contact') { %>class="colorlib-active"><% } %> ><a
          href="/contact">Contact</a></li>
    </ul>
  </nav>

  <div class="colorlib-footer">
    <p class="pfooter">
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;
      <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
        class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
  </div>
</aside>